div.todoParentContainer,
div.todoParentContainer label,
div.todoParentContainer input
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

div.completed > div.todoDetailsContainer > div.view > label
{
    text-decoration: line-through;
}

input.edit
{
    display: none;
    min-height: 16px;
}

div.editing .edit {
    display: inline-block;
    width: 80%;
    padding: 5px;
    margin: 0 0 0 30px;
}

div.editing .view {
    display: none;
}

div.hideChildren
{
    display: none;
}

div.todoDetailsContainer
{
    overflow: hidden;
}

div.todoChildContainer
{
    clear: both;
    padding-top: 3px;
}

div.todoControls,
div.view
{
    float: left;
}

div.view
{
    width: 80%;
}

div.view > label
{
    width: 100%;
    min-height: 16px;
    padding: 5px;
    margin: 0 0 0 30px;
    display: inline-block;
    border: 2px groove #dae3f2;
}