div.todoParentContainer,
div.todoParentContainer label,
div.todoParentContainer input
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

div.todoParentContainer
{
    /*margin-left: 30px;*/
    margin-left: 0;
}

div.todoParentContainer > div.todoChildContainer 
{
    border-left: 1px ridge #e2faff;
}

input[type=checkbox]
{
  /* one-eight sized Checkboxes */
  -ms-transform: scale(1.8); /* IE */
  -moz-transform: scale(1.8); /* FF */
  -webkit-transform: scale(1.8); /* Safari and Chrome */
  -o-transform: scale(1.8); /* Opera */
}

/*div.completed > div.todoDetailsContainer > div.view > label*/
div.completed > div.todoDetailsContainer > .edit,
div.completed > div.todoDetailsContainer > .edit > span
{
    text-decoration: line-through;
    color: gray;
}

.edit:focus
{
    outline: none;
}

/*div.editing .edit {*/
div.todoDetailsContainer > .edit {
    display: inline-block;
    min-height: 16px;
    width: 75%;
    padding: 5px;
    margin: 0 0 0 15px;
    border: 0;
}

/*div.editing .view {
    display: none;
}*/

div.hideChildren,
div.todoDetailsContainer
{
    display: none;
}

/*Show the selected todo*/
div.todoDetailsContainer.showTodoDetailsContainer,
div.todoParentContainer.showTodoParentContainer div.todoDetailsContainer{
    display: block;
}

div.todoParentContainer.showTodoParentContainer,
div.todoParentContainer.showTodoParentContainer div.todoParentContainer,
div.todoParentContainer.showAllTodos{
    margin-left: 30px;
}

div.todoParentContainer.showAllTodos,
div.todoParentContainer.showAllTodos div.todoDetailsContainer{
    display: block;
}
/*END: Show the selected todo*/

/*Highlight button when a specific todo is selected */
button.specificTodoSelected{
    background-color: #4dc3ff;
}
/*END: Highlight button when a specific todo is selected */

div.todoDetailsContainer
{
    overflow: hidden;
    padding: 10px;
    border-style: ridge;  
    border-width: 2px;
    border-color: #E2FAFF;    
    border-radius: 16px;
}

div.todoChildContainer
{
    clear: both;
    /*padding-top: 3px;*/
}

div.todoControls,
div.view
{
    float: left;
}

div.view
{
    width: 80%;
}

div.view > label
{
    width: 100%;
    min-height: 16px;
    padding: 5px;
    margin: 0 0 0 30px;
    display: inline-block;
    border: 2px groove #E2FAFF;
}

/*Footer styles*/
footer
{
    margin-top: 2em;    
}

footer > section
{
    background-color: #4dc3ff;
    padding: 10px;
    font-size: 18px;
}

footer > section > header
{
    font-weight: bold;
}